*{
    font-family: "Comic Neue", cursive;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:darkblue;
}
.container{
    background-color:white;
    border-style: solid;
    width: 900px;
    max-width: 600px;
    margin:100px auto 0;
    border-radius: 10px;
    padding: 30px;

}
.container h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom-style: solid;
    padding-bottom: 30px;
}
.btn{
    display: flex;
    background-color:white;
    border-radius: 10px;
    width: 90%;
    margin: 5%;
    padding: 15px;
    text-align: left;
    transition:all,0.2s;

}

.next{
    background-color:darkblue;
    color:white;
    padding:2% 6%;
    border-radius: 10px;
    margin:2% 5% 3% 40%;
    cursor: pointer;
    display: none;
}
.container h2{
    margin:3% 5%;
}
.btn:hover:not([disabled]){
    background-color:black;
    color:white;

}
.btn:disabled{
    cursor:no-drop;
}
.correct{
    background-color: lightgreen;
    font-weight: bold;
}
.wrong{
    background-color: rgb(244, 86, 86);
}